body{
background: rgb(30, 255, 0);

}
img{
height:500px ;
border-radius: 25px;

}
div#AA{
background: white;
border-radius:25px ;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
div#AB{
    background: rgb(255, 123, 0);
    border-radius:1000px ;
    }
div#AC{
    background: rgb(255, 123, 0);
    border-radius:25px ;
}
p{
    background: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

